<!--**********************************
            Sidebar start
        ***********************************-->
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Çalışma Alanı</li>
            <li>
                <a href="@Url.Action("HomePage", "Home")" class="ajax-link nav-link" aria-expanded="false">
                    <i class="fa-solid fa-sliders"></i><span class="nav-text">Slider</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Staff")" class="ajax-link nav-link" aria-expanded="false">
                    <i class="fa-regular fa-user"></i><span class="nav-text">Ekip</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Service")" class="ajax-link nav-link" aria-expanded="false">
                    <i class="fa-brands fa-product-hunt"></i><span class="nav-text">Hizmetler</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "About")" class="ajax-link nav-link" aria-expanded="false">
                    <i class="fa-regular fa-building"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "WhyUS")" class="ajax-link nav-link" aria-expanded="false">
                    <i class="fa-solid fa-question"></i><span class="nav-text">Neden Biz</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Contact")" class="ajax-link nav-link" aria-expanded="false">
                    <i class="fa-regular fa-message"></i><span class="nav-text">Mesajlar</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--**********************************
    Sidebar end
***********************************-->
